{# templates/index.html #}
{% extends "base.html" %}

{% block content %}
  <section class="articles-list">
    {% for article in articles if article.category not in ['Drawings', '绘画'] %}
    <article class="content">
      <h3 class="article-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h3>
      <p class="metadata">
        创作时间: {{ article.date.strftime('%Y-%m-%d') }}
      </p>
      {{ article.content|safe }}
    </article>
    {% endfor %}
  </section>
{% endblock %}
